.share a {
  width: 50px;
  height: 50px;
  display: inline-block;
  text-indent: 110%;
  overflow: hidden;
  background-size: contain;
  position: relative;
  transition: top .5s, left .5s, box-shadow .5s;
  box-shadow: 0 0 0 grey;
  top: 0px;
  left: 0px;
  border-radius: 10px;
}

.share a:hover {
  top: -5px;
  left: -5px;
  box-shadow: 5px 5px 0 grey;
}

.facebook {
  background: url(facebook.svg);
}

.linkedin {
  background: url(linkedin.svg);
}

.twitter {
  background: url(twitter.svg);
}
